body{
  padding-top: 70px;
}

hr{
  border-color: grey;
  border-width: 2px;
}

ul{
  padding-left: 0px;
}

textarea{
  resize: none;
}

.click-table:hover{
  cursor: pointer;
}

.nopadding {
   padding: 7px !important;
   font-size: 12px;
}
